.excluded {
  color:  red;
}

.PC {
  width: 9%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.whoBoard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background-color: gold;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 32px;
}

@media (max-width: 600px) {
  .PC {
    width: 37%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border: 2px solid black;
  }

  .whoBoard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: gold;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 32px;
  }
}