.panel {
  width: 147px;
  height: 235px;
  overflow: hidden;
  display: inline-block;
}

.David {
  transform: translate(-104px, -245px);
  height: 740px;
  width: 1400px;
}

.Alex {
  transform: translate(-100px, 0px);
  height: 740px;
  width: 1400px;
}